.env File Items where you have to Configure while Project Setup
PORT=8081
MONGO_USER="mongo_db_user"
MONGO_PASSWORD="mongo_db_password";
MONGO_DATABASE_SRV=mongodbcredentialSrvString/events_react_dev?retryWrites=true"
MONGO_DB="events_react_dev"